@font-face {
    font-family: "Inter-Bold-700";
    src: url(fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Inter-Light-300";
    src: url(fonts/Inter_18pt-Light.ttf);
}

@font-face {
    font-family: "Inter-Regular-400";
    src: url(fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter-Medium-500";
    src: url(fonts/Inter_18pt-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    font-family: "Inter-Regular-400", sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #979797;
    text-decoration: none;
    transition: 500ms;
}

li {
    list-style: none;
}

header .header_elements {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 65px 95px 5px 95px;
}

header nav {
    align-self: center;
}

header hr {
    width: 90%;
    margin: 0 auto;

}

header .header_nav__list {
    display: flex;
    gap: 63px;
    font-family: "Inter-Light-300";
    font-size: 32px;
}

.header_logotype {
    font-family: "Inter-Bold-700";
    font-size: 64px;
}

header .header_button {
    border: none;
    border-radius: 10px;
    align-self: center;
    width: 172px;
    height: 63px;
    background: linear-gradient(to left, rgba(131, 0, 220, 1), rgba(255, 102, 0, 1));
    font-size: 31px;
    color: #FFFFFF;
    cursor: pointer;
}

.partOne {
    margin-top: 146px;
}

.container {
    text-align: center;
}

.mockup {
    display: inline-block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 0;
    perspective: 2400px;
    perspective-origin: 50% 100%;
    opacity: 0;
    transition: 500ms opacity;
}

.mockup.loaded {
    opacity: 1;
}

.mockup .part .top,
.mockup .part .bottom {
    position: absolute;
    top: 0;
    left: 0;
}

.mockup .part.top {
    transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    transition: 900ms;
}

.mockup.opened .part .top {
    transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}

.mockup .part .top {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, -11px) rotateX(90deg);
    transition: 900ms;
}

.mockup img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
}

.mockup .part .cover {
    position: relative;
}

.mockup .firstFrame {
    display: block;
    position: absolute;
    background-color: black;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 100%;
    border-radius: 6px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 1px);
}

.firstFrame img {
    border-radius: 6px;
}


.arrow{
    position: relative;
    left: 105%;
    top: -50%;
}

.arrow img {
    cursor: pointer;
    position: relative;
    width: 65px;
}

.mockup .part.bottom {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, 0) rotateX(90deg);
}

.d1 {
    background: linear-gradient(to right, rgba(255, 102, 0, 1), rgba(131, 0, 220, 1));
    border-radius: 47%;
    position: absolute;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.d2 {
    border-radius: 47%;
    position: absolute;
    background: linear-gradient(to right, rgba(131, 0, 220, 1), rgba(255, 102, 0, 1));
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.hidden-oval {
    display: none;

}

.visible-oval {
    display: block;
    transition: opacity 0.5 ease;
}

.second-page {
    background: #262626;
    margin-top: 100px;
}

.about-h1 {
    font-family: "Inter-Medium-500", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

.about-h2 {
    font-family: "Inter-Regular-400", sans-serif;
    font-size: 24px;
    color: #CCCCCC;
    text-align: center;
}

.aboutus-flex {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.div-about-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 631px;
    height: 292px;
}

.div-about-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 631px;
    height: 292px;
    background: #3F3F3F;
    box-shadow: 10px 5px 5px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}